.navbar {
    background-color: transparent;
}


.top-nav-collapse {
    background-color: #3c4f74;
}


@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }

 
}

.btn-flat {
    color: #FFF;
}

.bid-button {
    color: blue;
}

.btn-flat {
    position: relative;
    border: none;
    text-decoration: none;
    outline: 0!important;
}

.btn-flat, .btn-flat:focus {
    background-color: transparent;
}

.height-175px {
    height: 175px;
}

.right-border {
    border-right: 1px solid #000;
}

.padding-20 {
    padding-top: 15%;
    margin: auto;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
}
.btn-floating.btn-large {
    width: 55.5px;
    height: 55.5px;
}

.btn-floating {
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 37px;
    height: 37px;
    padding: 0;
    background-color: #a6c;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    transition: .3s;
    margin: 10px;
}

.btn-floating, .btn-floating i {
    display: inline-block;
    line-height: 37px;
    color: #fff;
}

.btn-floating, .card .card-reveal .card-title, .card-wrapper .back .card-title, .dropdown-content li, .file-field span, .mdb-autocomplete-wrap li, input[type=range], input[type=range]+.thumb {
    cursor: pointer;
}

.btn .fa, .btn-floating, .picker__box, .product-table td, .switch label .lever {
    vertical-align: middle;
}

.btn-floating.btn-large i {
    line-height: 55.5px;
}

.btn-floating i {
    width: inherit;
    text-align: center;
    font-size: 1.6rem;
}

.btn-floating, .btn-floating i {
    display: inline-block;
    line-height: 37px;
    color: #fff;
}

.padtop {
    padding-top: 10%;
}