html, body {
	font-family: 'Roboto', sans-serif;
}

.page-label {
	margin-left: 5%;
	padding-top: 12px;
}

.logos {
	text-align: center;
	display: inline-block;
	width: 100%;
}

.logos img {
	padding-left: 15px;
	padding-right: 15px;
	vertical-align: middle;
}

.acacia-logo {
	width: 180px;
}

.wall-logo {
	width: 150px;
}

.vert-line {
	border-right: 1px solid #000;
	padding-right: 5px
}

.sign-in {
	padding-top: 20px;
	text-align: center;
}

input {
	font-family: 'Roboto', sans-serif;
	height: 40px;
	width: 210px;
	padding-left: 40px;
	background-repeat: no-repeat;
	background-position: 8px center;
	border: none;
	border-radius: 3px;
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
	border-radius: 2px;
	line-height: 20px;
}

input[name=username], input[name=name], input[name=donor] {
	background-image: url(../img/ic_face_black_24px.svg);
}

input[type=tel] {
	background-image: url(../img/ic_phone_black_24px.svg);
}

input[type=email] {
	background-image: url(../img/ic_email_black_24px.svg);
}

input[name=title] {
	background-image: url(../img/ic_color_lens_black_24px.svg);
}

input[name=start_price] {
	background-image: url(../img/ic_attach_money_black_24px.svg);
}

.sign-in input[name=pin-number] {
	background-image: url(../img/ic_lock_black_24px.svg);
}

.fab {
	cursor: pointer;
	border: none;
	margin: auto;
	margin-top: 10px;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	background-color: #000;
	transition: box-shadow 0.5s ease;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../img/ic_arrow_forward_white_24px.svg);
}

.fab:hover {
	box-shadow: 0 0 12px 0 rgba(0,0,0,0.12), 0 12px 12px 0 rgba(0,0,0,0.24);
}

.open {
	position: absolute;
	right: 0;
	top: 0;
	padding-right: 5%;
}

.open span {
	width: 100px;
}

.switch-input {
	display: none;
}
.switch-label {
	position: relative;
	display: inline-block;
	min-width: 112px;
	cursor: pointer;
	font-weight: 500;
	text-align: left;
	margin: 16px;
	padding: 16px 0 16px 44px;
}
.switch-label:before, .switch-label:after {
	content: "";
	position: absolute;
	margin: 0;
	outline: 0;
	top: 50%;
	-ms-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.switch-label:before {
	left: 1px;
	width: 34px;
	height: 14px;
	background-color: #9E9E9E;
	border-radius: 8px;
}
.switch-label:after {
	left: 0;
	width: 20px;
	height: 20px;
	background-color: #FAFAFA;
	border-radius: 50%;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.switch-label .toggle--on {
	display: none;
}
.switch-label .toggle--off {
	display: inline-block;
}
.switch-input:checked + .switch-label:before {
	background-color: #A5D6A7;
}
.switch-input:checked + .switch-label:after {
	background-color: #4CAF50;
	-ms-transform: translate(80%, -50%);
	-webkit-transform: translate(80%, -50%);
	transform: translate(80%, -50%);
}
.switch-input:checked + .switch-label .toggle--on {
	display: inline-block;
}
.switch-input:checked + .switch-label .toggle--off {
	display: none;
}

.card-option {
	width: 300px;
	height: 175px;
	margin: 20px;
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
	border-radius: 7px;
	display: inline-block;
	position: relative;
	top: 30%;
	transition: box-shadow 0.5s ease;
}

.card-option h2 {
	position: absolute;
	bottom: 0;
	left: 20%;
}

.card-option:hover {
	box-shadow: 0 0 12px 0 rgba(0,0,0,0.12), 0 12px 12px 0 rgba(0,0,0,0.24);
}

.card-option img {
	position: absolute;
	height: 75px;
	left: 40%;
	top: 25px;
}

.card-options {
	text-align: center;
	height: 500px;
}

a {
	text-decoration: none;
	color: #000;
}

.add-bidder-button {
	font-family: 'Roboto', sans-serif;
	background-color: #1E88E5;
	color: #FFF;
	border: none;
	border-radius: 50px;
	font-size: 20px;
	padding-left: 50px;
	padding-right: 30px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin: 35px;
	position: relative;

	transition: box-shadow 0.5s ease;
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
}

.add-bidder-button:hover {
	box-shadow: 0 0 12px 0 rgba(0,0,0,0.12), 0 12px 12px 0 rgba(0,0,0,0.24);
}

.open img {
	position: absolute;
	left: 20px;
	top: 25%;
}

.big-number {
	font-size: 52px;
	font-weight: 100;
}

.no-margin {
	margin: 0;
}

.save-info-button {
	border: none;
	background: none;
	cursor: pointer;
	margin-top: 20px;
}

.save-info-button div img {
	position: absolute;
	left: 16px;
}

th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}

.table th {
	min-width: 120px;
	height: 75px;
	padding-right: 5px;
	padding-left: 5px;
	text-align: left;
}

.table tr {
	height: 75px;
}

.table tbody tr:hover {
	background-color: #1E88E5;
	color: #FFF;
}

.table td {
	padding-right: 5px;
	padding-left: 5px;
	border: none;
}

.table {
	margin: auto;
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
	border-radius: 7px;
	width: 90%;
}

.table td:nth-child(1), th:nth-child(1), td:nth-child(7), th:nth-child(7) {
	text-align: center;
	text-align: -webkit-center;
}

.item-table td:nth-child(5), th:nth-child(5) {
	text-align: center;
}

.table-circle {
	display: table-cell;
	vertical-align: middle;
	width: 50px;
	height: 50px;
	background-color: #1E88E5;
	border-radius: 50%;
	color: #FFF;
}

.phantom {
	text-align: center;
	width: 100%;
	-webkit-animation: seconds 1.0s forwards;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-delay: 3s;
	animation: seconds 1.0s forwards;
	animation-iteration-count: 1;
	animation-delay: 15s;
	position: absolute;
	background: #00E676;
}
@-webkit-keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px; 
  }
}
@keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px; 
  }
}

.image-landing {
	width: 250px;
	height: 150px;
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
	margin: auto;
	cursor: pointer;
}

.image-landing img {
	height: 50px;
	padding: 20px;
}

.hidden {
	display: none;
}